# Libraries

In [1]:
import os
import pandas as pd
import numpy as np
from tqdm import tqdm
from datetime import timedelta

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('dark')
plt.style.use('dark_background')

import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
pio.templates.default = "plotly_dark"
from plotly.subplots import make_subplots

from google.cloud import bigquery
from google_auth_oauthlib import flow

from pmdarima import auto_arima

# Data Loading

## Auth

In [2]:
appflow = flow.InstalledAppFlow.from_client_secrets_file(
    'client_secrets.json',
    scopes=['https://www.googleapis.com/auth/bigquery'])
appflow.run_local_server()
credentials = appflow.credentials

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=785401200582-2bsmu4f83epjs2o0t01a3gh5je282814.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=PZhnH7S9HtHhWVoBSpRzYx14fi6tVS&access_type=offline

## Get JHU dataset

In [3]:
client = bigquery.Client(project='put_your_name_project', credentials=credentials)
QUERY = '''
SELECT * FROM `bigquery-public-data.covid19_jhu_csse.summary`
'''
all_df = client.query(QUERY).to_dataframe()

In [4]:
df = all_df[['province_state', 'country_region', 'date', 'latitude', 'longitude', 'confirmed', 'deaths', 'recovered', 'active']]

In [5]:
# df.to_csv(os.path.join('data', 'raw_cov.csv'), index=False)

# Data Preprocessing

In [6]:
df.shape

(117383, 9)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117383 entries, 0 to 117382
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   province_state  107744 non-null  object
 1   country_region  117383 non-null  object
 2   date            117383 non-null  object
 3   latitude        113073 non-null  float64
 4   longitude       113073 non-null  float64
 5   confirmed       117364 non-null  float64
 6   deaths          116942 non-null  float64
 7   recovered       116995 non-null  float64
 8   active          109766 non-null  float64
dtypes: float64(6), object(3)
memory usage: 8.1+ MB

In [8]:
df['date'] = pd.to_datetime(df['date'])

C:\Users\fatma\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
df.describe()

,latitude,longitude,confirmed,deaths,recovered,active
count,113073.000000,113073.000000,117364.000000,116942.000000,116995.000000,109766.000000
mean,36.326821,-77.465211,523.148819,31.816730,134.142536,312.695662
std,10.934090,46.634873,5823.909984,568.974838,2433.086948,3842.139441
min,-51.796300,-170.132000,0.000000,0.000000,0.000000,-106988.000000
25%,33.616168,-96.012303,2.000000,0.000000,0.000000,0.000000
50%,37.837664,-87.308911,8.000000,0.000000,0.000000,0.000000
75%,41.608600,-80.242447,47.000000,1.000000,0.000000,15.000000
max,72.000000,178.065000,226629.000000,26644.000000,117727.000000,140978.000000

In [10]:
df.isnull().sum()

province_state    9639
country_region       0
date                 0
latitude          4310
longitude         4310
confirmed           19
deaths             441
recovered          388
active            7617
dtype: int64

In [11]:
df = df.sort_values(by=['country_region','province_state','date'])

In [12]:
first_day = min(df['date'])

In [13]:
last_day = max(df['date'])

In [14]:
print('First day of data {}, Last day of data {}, Number of days {}'.format(first_day, last_day, (last_day - first_day).days + 1))

First day of data 2020-01-22 00:00:00, Last day of data 2020-04-26 00:00:00, Number of days 96

## Removing not updated countries/states

In [15]:
df.shape

(117383, 9)

In [16]:
df.loc[:,'province_state'] = df['province_state'].fillna(value=np.nan).values
df.loc[:,'province_state'] = df['province_state'].replace('None', np.nan).values

In [17]:
df['latitude'] = df['latitude'].replace(np.nan,'nan')
df['longitude'] = df['longitude'].replace(np.nan,'nan')
df['province_state'] = df['province_state'].replace(np.nan,'nan')

In [18]:
df = df.groupby(['country_region','province_state','date','latitude','longitude'])[['confirmed','deaths','recovered','active']].sum().reset_index()

In [19]:
for country in tqdm(df['country_region'].unique()):
    for state in df.loc[df['country_region'] == country,'province_state'].unique():
        if max(df.loc[(df['country_region'] == country) & (df['province_state'] == state),'date']) != last_day:
            df.drop(df[(df['country_region'] == country) & (df['province_state'] == state)].index, axis=0, inplace=True)

100%|████████████████████████████████████████████████████████████████████████████████| 234/234 [00:34<00:00,  6.87it/s]

In [20]:
df.shape

(114056, 9)

In [21]:
df['latitude'] = df['latitude'].replace('nan', np.nan)
df['longitude'] = df['longitude'].replace('nan', np.nan)
df['province_state'] = df['province_state'].replace('nan',np.nan)

In [22]:
df = df.sort_values(by=['country_region','province_state','date'])

In [23]:
df.reset_index(drop=True, inplace=True)

## Cleaning countries and states

In [24]:
# df.loc[:,'province_state'] = df['province_state'].fillna(value=np.nan).values
# df.loc[:,'province_state'] = df['province_state'].replace('None', np.nan).values

In [25]:
changed_names = {
    ' Azerbaijan': 'Azerbaijan',
    'Bahamas, The': 'Bahamas',
    'Gambia, The': 'Gambia',
    'Hong Kong SAR': 'Hong Kong',
    'Iran (Islamic Republic of)':'Iran',
    'Macao SAR':'Macao',
    'Macau': 'Macao',
    "Taiwan*": "Taiwan",
    'Viet Nam': 'Vietnam',
    'occupied Palestinian territory':'Palestine',
    'West Bank and Gaza':'Palestine',
    
    "Holy See": "Holy See (Vatican City State)",
    "Vatican City": "Holy See (Vatican City State)",
    "Republic of Korea": "Korea, Republic of",
    "South Korea": "Korea, Republic of",
    "Korea, South": "Korea, Republic of",
    "Russian Federation": "Russia",
    "Saint Martin": "Sint Maarten (Dutch part)",
    "St. Martin": "Sint Maarten (Dutch part)",
    "Taipei and environs": "Taiwan",
    "Gambia, The": "Gambia",
    "The Gambia": "Gambia",
    "US": "United States",
    "Republic of Moldova": "Moldova, Republic of",
    "Moldova": "Moldova, Republic of",
    "The Bahamas": "Bahamas",
    "East Timor": "Timor-Leste",
    "Cape Verde": "Cabo Verde",
    'Republic of the Congo': "Congo, The Democratic Republic of the",
    "Congo (Brazzaville)": "Congo",
    "Congo (Kinshasa)": "Congo, The Democratic Republic of the",
    'UK':'United Kingdom',
    'Mainland China': 'China'
}

In [26]:
changed_states = {
    'Fench Guiana':'French Guiana',
    'UK':'United Kingdom',
    'US':'United States'
}

In [27]:
df['country_region'] = df['country_region'].replace(changed_names)

In [28]:
df['province_state'] = df['province_state'].replace(changed_states)

In [29]:
df = df[~(df['country_region'].isin(['Others', 'MS Zaandam', 'Cruise Ship', 'Diamond Princess']) | df['province_state'].isin(['From Diamond Princess', 'Diamond Princess', 'Recovered']))].reset_index(drop=True)

In [30]:
df.shape

(113852, 9)

In [31]:
for country in df['country_region'].unique():
    print(country, df.loc[df['country_region'] == country, 'province_state'].unique())

Afghanistan [nan]
Albania [nan]
Algeria [nan]
Andorra [nan]
Angola [nan]
Antigua and Barbuda [nan]
Argentina [nan]
Armenia [nan]
Australia ['Australian Capital Territory' 'New South Wales' 'Northern Territory'
 'Queensland' 'South Australia' 'Tasmania' 'Victoria' 'Western Australia']
Austria [nan]
Azerbaijan [nan]
Bahamas [nan]
Bahrain [nan]
Bangladesh [nan]
Barbados [nan]
Belarus [nan]
Belgium [nan]
Belize [nan]
Benin [nan]
Bhutan [nan]
Bolivia [nan]
Bosnia and Herzegovina [nan]
Botswana [nan]
Brazil [nan]
Brunei [nan]
Bulgaria [nan]
Burkina Faso [nan]
Burma [nan]
Burundi [nan]
Cabo Verde [nan]
Cambodia [nan]
Cameroon [nan]
Canada ['Alberta' 'British Columbia' 'Manitoba' 'New Brunswick'
 'Newfoundland and Labrador' 'Northwest Territories' 'Ontario'
 'Prince Edward Island' 'Quebec' 'Saskatchewan' 'Yukon']
Central African Republic [nan]
Chad [nan]
Chile [nan]
China ['Anhui' 'Beijing' 'Chongqing' 'Fujian' 'Gansu' 'Guangdong' 'Guangxi'
 'Guizhou' 'Hainan' 'Hebei' 'Heilongjiang' 'Henan' 'Hong Kong' 'Hubei'
 'Hunan' 'Inner Mongolia' 'Jiangsu' 'Jiangxi' 'Jilin' 'Liaoning' 'Macau'
 'Ningxia' 'Qinghai' 'Shaanxi' 'Shandong' 'Shanghai' 'Shanxi' 'Sichuan'
 'Tianjin' 'Tibet' 'Xinjiang' 'Yunnan' 'Zhejiang']
Colombia [nan]
Congo [nan]
Congo, The Democratic Republic of the [nan]
Costa Rica [nan]
Cote d'Ivoire [nan]
Croatia [nan]
Cuba [nan]
Cyprus [nan]
Czechia [nan]
Denmark ['Faroe Islands' 'Greenland' nan]
Djibouti [nan]
Dominica [nan]
Dominican Republic [nan]
Ecuador [nan]
Egypt [nan]
El Salvador [nan]
Equatorial Guinea [nan]
Eritrea [nan]
Estonia [nan]
Eswatini [nan]
Ethiopia [nan]
Fiji [nan]
Finland [nan]
France ['French Guiana' 'French Polynesia' 'Guadeloupe' 'Martinique' 'Mayotte'
 'New Caledonia' 'Reunion' 'Saint Barthelemy' 'Saint Pierre and Miquelon'
 'St Martin' nan]
Gabon [nan]
Gambia [nan]
Georgia [nan]
Germany [nan]
Ghana [nan]
Greece [nan]
Grenada [nan]
Guatemala [nan]
Guinea [nan]
Guinea-Bissau [nan]
Guyana [nan]
Haiti [nan]
Holy See (Vatican City State) [nan]
Honduras [nan]
Hungary [nan]
Iceland [nan]
India [nan]
Indonesia [nan]
Iran [nan]
Iraq [nan]
Ireland [nan]
Israel [nan]
Italy [nan]
Jamaica [nan]
Japan [nan]
Jordan [nan]
Kazakhstan [nan]
Kenya [nan]
Korea, Republic of [nan]
Kosovo [nan]
Kuwait [nan]
Kyrgyzstan [nan]
Laos [nan]
Latvia [nan]
Lebanon [nan]
Liberia [nan]
Libya [nan]
Liechtenstein [nan]
Lithuania [nan]
Luxembourg [nan]
Madagascar [nan]
Malawi [nan]
Malaysia [nan]
Maldives [nan]
Mali [nan]
Malta [nan]
Mauritania [nan]
Mauritius [nan]
Mexico [nan]
Moldova, Republic of [nan]
Monaco [nan]
Mongolia [nan]
Montenegro [nan]
Morocco [nan]
Mozambique [nan]
Namibia [nan]
Nepal [nan]
Netherlands ['Aruba' 'Bonaire, Sint Eustatius and Saba' 'Curacao' 'Sint Maarten' nan]
New Zealand [nan]
Nicaragua [nan]
Niger [nan]
Nigeria [nan]
North Macedonia [nan]
Norway [nan]
Oman [nan]
Pakistan [nan]
Panama [nan]
Papua New Guinea [nan]
Paraguay [nan]
Peru [nan]
Philippines [nan]
Poland [nan]
Portugal [nan]
Qatar [nan]
Romania [nan]
Russia [nan]
Rwanda [nan]
Saint Kitts and Nevis [nan]
Saint Lucia [nan]
Saint Vincent and the Grenadines [nan]
San Marino [nan]
Sao Tome and Principe [nan]
Saudi Arabia [nan]
Senegal [nan]
Serbia [nan]
Seychelles [nan]
Sierra Leone [nan]
Singapore [nan]
Slovakia [nan]
Slovenia [nan]
Somalia [nan]
South Africa [nan]
South Sudan [nan]
Spain [nan]
Sri Lanka [nan]
Sudan [nan]
Suriname [nan]
Sweden [nan]
Switzerland [nan]
Syria [nan]
Taiwan [nan]
Tanzania [nan]
Thailand [nan]
Timor-Leste [nan]
Togo [nan]
Trinidad and Tobago [nan]
Tunisia [nan]
Turkey [nan]
United States ['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Grand Princess' 'Guam' 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa'
 'Kansas' 'Kentucky' 'Louisiana' 'Maine' 'Maryland' 'Massachusetts'
 'Michigan' 'Minnesota' 'Mississippi' 'Missouri' 'Montana' 'Nebraska'
 'Nevada' 'New Hampshire' 'New Jersey' 'New Mexico' 'New York'
 'North Carolina' 'North Dakota' 'Northern Mariana Islands' 'Ohio'
 'Oklahoma' 'Oregon' 'Pennsylvania' 'Puerto Rico' 'Rhode Island'
 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont'
 'Virgin Islands' 'Virginia' 'Washington' 'West Virginia' 'Wisconsin'
 'Wyoming']
Uganda [nan]
Ukraine [nan]
United Arab Emirates [nan]
United Kingdom ['Anguilla' 'Bermuda' 'British Virgin Islands' 'Cayman Islands'
 'Channel Islands' 'Falkland Islands (Malvinas)' 'Gibraltar' 'Isle of Man'
 'Montserrat' 'Turks and Caicos Islands' nan]
Uruguay [nan]
Uzbekistan [nan]
Venezuela [nan]
Vietnam [nan]
Palestine [nan]
Western Sahara [nan]
Yemen [nan]
Zambia [nan]
Zimbabwe [nan]

https://github.com/starschema/COVID-19-data/blob/master/notebooks/JHU_COVID-19.ipynb

In [32]:
df['latitude'] = df['latitude'].replace(np.nan,'nan')
df['longitude'] = df['longitude'].replace(np.nan,'nan')
df['province_state'] = df['province_state'].replace(np.nan,'nan')

In [33]:
df = df.groupby(['country_region','province_state','date','latitude','longitude'])[['confirmed','deaths','recovered','active']].sum().reset_index()

In [34]:
# for country in tqdm(df['country_region'].unique()):
#     for state in df.loc[df['country_region'] == country,'province_state'].unique():
#         if max(df.loc[(df['country_region'] == country) & (df['province_state'] == state),'date']) != last_day:
#             df.drop(df[(df['country_region'] == country) & (df['province_state'] == state)].index, axis=0, inplace=True)

In [35]:
df.shape

(113852, 9)

In [36]:
df['latitude'] = df['latitude'].replace('nan', np.nan)
df['longitude'] = df['longitude'].replace('nan', np.nan)
df['province_state'] = df['province_state'].replace('nan',np.nan)

In [37]:
df = df.sort_values(by=['country_region','province_state','date'])

In [38]:
df.reset_index(drop=True, inplace=True)

## Data Imputation

### Outlier Detection

In [39]:
for country in tqdm(df['country_region'].unique()):
    n = df[df['country_region'] == country].shape[0]
    if df.loc[df['country_region'] == country, 'province_state'].isnull().sum() == n:
        df.loc[df['country_region'] == country, 'delta_confirmed'] = np.append(np.diff(df.loc[df['country_region'] == country,'confirmed']), 0)
    else:
        states = df.loc[df['country_region'] == country, 'province_state'].unique()
        for state in states:
            if str(state) == 'nan':
                df.loc[(df['country_region'] == country) & (df['province_state'].isnull()), 'delta_confirmed'] = np.append(np.diff(df.loc[(df['country_region'] == country) & (df['province_state'].isnull()),'confirmed']), 0)                    
            else:
                df.loc[(df['country_region'] == country) & (df['province_state'] == state), 'delta_confirmed'] = np.append(np.diff(df.loc[(df['country_region'] == country) & (df['province_state'] == state),'confirmed']), 0)

100%|████████████████████████████████████████████████████████████████████████████████| 183/183 [00:18<00:00, 10.12it/s]

In [40]:
np.quantile(df.loc[df['delta_confirmed'] < 0, 'delta_confirmed'], 0.01)

-4176.2

<b>This method is not applicable for united stated since in a certain state we have precise data according to different latitude and longitude</b>

In [41]:
df.loc[(df['delta_confirmed'] <= -1e4) & (df['country_region'] != 'United States'), ['confirmed', 'deaths', 'recovered', 'active']] = np.nan

In [42]:
df.drop('delta_confirmed', axis=1, inplace=True)

In [43]:
df.isnull().sum()

country_region       0
province_state    9303
date                 0
latitude          2141
longitude         2141
confirmed            1
deaths               1
recovered            1
active               1
dtype: int64

### Checking frequency

In [44]:
full_df = pd.DataFrame()

In [45]:
for country in tqdm(df['country_region'].unique()):
    n = df[df['country_region'] == country].shape[0]
    if (df.loc[df['country_region'] == country, 'province_state'].isnull().sum() == n):
        date_df = pd.DataFrame(pd.date_range(min(df.loc[df['country_region'] == country, 'date']), max(df.loc[df['country_region'] == country, 'date'])))
        date_df.columns = ['all_date']
        full_df = pd.concat([full_df, df[df['country_region'] == country].merge(date_df, left_on='date', right_on='all_date', how='right').sort_values(by='all_date').fillna(method='ffill').fillna(method='bfill').drop(['date'], axis=1)], axis=0)
    else:
        states = df.loc[df['country_region'] == country, 'province_state'].unique()
        for state in states:
            if str(state) == 'nan':
                date_df = pd.DataFrame(pd.date_range(min(df.loc[(df['country_region'] == country) & (df['province_state'].isnull()), 'date']), max(df.loc[(df['country_region'] == country) & (df['province_state'].isnull()), 'date'])))
                date_df.columns = ['all_date']
                full_df = pd.concat([full_df, df[(df['country_region'] == country) & (df['province_state'].isnull())].merge(date_df, left_on='date', right_on='all_date', how='right').sort_values(by='all_date').fillna(method='ffill').fillna(method='bfill').drop(['date'], axis=1)], axis=0)
            else:
                date_df = pd.DataFrame(pd.date_range(min(df.loc[(df['country_region'] == country) & (df['province_state'] == state), 'date']), max(df.loc[(df['country_region'] == country) & (df['province_state'] == state), 'date'])))
                date_df.columns = ['all_date']
                full_df = pd.concat([full_df, df[(df['country_region'] == country) & (df['province_state'] == state)].merge(date_df, left_on='date', right_on='all_date', how='right').sort_values(by='all_date').fillna(method='ffill').fillna(method='bfill').drop(['date'], axis=1)], axis=0)

100%|████████████████████████████████████████████████████████████████████████████████| 183/183 [00:29<00:00,  6.28it/s]

In [46]:
full_df.shape

(114199, 9)

In [47]:
full_df.isnull().sum()

country_region       0
province_state    9458
latitude             0
longitude            0
confirmed            0
deaths               0
recovered            0
active               0
all_date             0
dtype: int64

In [48]:
df.isnull().sum()

country_region       0
province_state    9303
date                 0
latitude          2141
longitude         2141
confirmed            1
deaths               1
recovered            1
active               1
dtype: int64

In [49]:
missing_df = df.copy()

In [50]:
missing_df.shape

(113852, 9)

In [51]:
df = full_df.copy()

In [52]:
df.reset_index(drop=True, inplace=True)

In [53]:
df.rename(columns={"all_date": "date"}, inplace=True)

In [55]:
# df.to_csv(os.path.join('data','prep_cov.csv'), index=False)